.Header {
    background-color: rgb(243, 243, 243);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header > a {
    text-decoration: none;
    padding: 10px;
    color: inherit;
    cursor: pointer; 
}

a:hover{
    position: relative;
    bottom: 2px;
    left: 2px;
}
